body {
  margin: 0;
  background-color: #025464;
  font-size: large;
  color: #e8aa42;
  font-family: 'Courier New', Courier, monospace;
}

.homepage {
  display: flex;
  width: 100%;
  height: 100%;
}

header {
  margin: 0;
  text-align: center;
  font-size: 30px;
}
footer {
  margin: 2rem;
  text-align: center;
}

.homepage,
.best_player {
  font-family: 'Courier New', Courier, monospace;
  background-color: #e57c23;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.play_again {
  font-family: 'Courier New', Courier, monospace;
  background-color: #e57c23;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.play_again_container {
  font-family: 'Courier New', Courier, monospace;
  background-color: #025464;
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: #025464 0 4px 8px;
  color: #fff;
  font-size: xx-large;
  width: 50%;
  height: 100%;
  text-align: center;
  margin: 1% 10% 10% 25%;
}

.homepage_container {
  font-family: 'Courier New', Courier, monospace;
  background-color: #025464;
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: #025464 0 4px 8px;
  color: #fff;
  font-size: xx-large;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 15% 30% 15% 30%;
}
.user_container {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.start_button {
  font-family: 'Courier New', Courier, monospace;
  margin: 2rem;
  font-size: xx-large;
  font-weight: 900;
  height: 80px;
  width: 80%;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.start_button:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.start_button:active {
  color: #000;
}

.start_button:active:after {
  background: transparent;
}

.start_button:hover:before {
  opacity: 1;
}

.start_button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.username_input {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 700;
  height: 50px;
  width: 80%;
  margin: 2rem;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  background: #111;

  position: relative;
  z-index: 0;
  border-radius: 10px;
}
::placeholder {
  font-size: x-large;
  font-weight: 700;
  color: #fff;
  opacity: 1; /* Firefox */
}

.game {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.left_container {
  background-color: #e57c23;
  width: 20%;
}

.right_container {
  width: 80%;
  background-color: #e8aa42;
}

.hidden {
  display: none;
}

/* game page */

.show_score_box {
  font-family: 'Courier New', Courier, monospace;
  background-color: #025464;
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: #025464 0 4px 8px;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.all_score_box {
  padding-top: 33%;
}

.question_box {
  background-color: #025464;
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: #e8aa42;
  text-align: center;
  font-size: xx-large;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 5rem;
  margin: 10%;
}

.corect_answer {
  animation-name: question_box;
  animation-duration: 4s;
}
@keyframes question_box {
  from {
    background-color: #025464;
  }
  to {
    background-color: rgb(9, 218, 9);
  }
}

/* BOX BUTTONS */
.answer_button {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-size: xx-large;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.answer_button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.answer_button:active {
  transform: scale(0.95);
}

/* QUESTION FONT AWSOM ANIMATION*/
.question_animation_left {
  margin: 0;
  width: 100px;
  height: 100px;
  color: #f09819;
}
.question_animation_right {
  margin-right: 0;
  width: 100px;
  height: 100px;
  color: #f09819;
}
.main_question {
  width: 100%;

  text-align: center;
}
.main_question_box {
  display: flex;
  text-align: center;
}

.error_message {
  color: red;
  font-weight: 900;
}

/*YOUR SCORE*/

.animate-charcter {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* BEST PLYERS*/
.best_player_container {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 80%;
  margin: 10%;
}

.best_player_effect {
  font-family: 'Courier New', Courier, monospace;
  --s: 0.1em; /* the thickness of the line */
  --c: #f09819; /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.best_player_effect:hover {
  --_p: 100%;
}

.best_player_effect {
  font-family: system-ui, sans-serif;
  font-size: 5rem;
  cursor: pointer;
}
/*TABLE*/

.player_lists {
  max-width: 150rem;
}

.player_list {
  color: #000;
  font-weight: 900;
  font-size: xx-large;
  display: flex;
  cursor: default;
}

.player_list.headers {
  font-size: xx-large;
  background: #000;
  color: whitesmoke;
}

.player_list p {
  border: 1px solid #000;

  margin: 0;
  padding: 1rem 1rem;
  width: 70%;
}

/*MOBILE VERSION*/

@media only screen and (max-width: 720px) {
  body {
    font-size: small;
  }
  header {
    font-size: medium;
  }
  .homepage,
  .best_player {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e57c23;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .play_again {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e57c23;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .play_again_container {
    font-family: 'Courier New', Courier, monospace;
    background-color: #025464;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: #025464 0 4px 8px;
    color: #fff;
    width: 70%;
    height: 100%;
    text-align: center;
    margin: 10%;
  }

  .homepage_container {
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #025464;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: #025464 0 4px 8px;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 10%;
    text-align: center;
  }
  .user_container {
    padding: 0;
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .left_container {
    width: 30%;
  }
  .right_container {
    width: 70%;
  }

  .hidden {
    display: none;
  }
  .question_box {
    padding: 1rem;
  }

  .main_question_box {
    display: flex;
    text-align: center;
    font-size: small;
  }
  .all_score_box {
    width: 80%;
  }

  .all_score_box h1 {
    font-size: medium;
  }
  .show_score_box {
    width: 80%;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: #025464;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: #025464 0 4px 8px;
    padding: 0.5rem;
    margin: 1rem;
    display: inline-block;
    text-align: center;
  }

  .answer_button {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-size: small;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(
      45deg,
      #ff512f 0%,
      #f09819 51%,
      #ff512f 100%
    );
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .answer_button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .answer_button:active {
    transform: scale(0.95);
  }

  .animate-charcter {
    font-size: large;
  }

  .start_button {
    margin: 0;
    max-width: 100%;
    height: 100%;
    font-size: medium;
  }
  .best_player_effect {
    font-size: medium;
  }
  .error_message {
    font-size: medium;
  }

  .start_button {
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem;
    font-size: medium;
    font-weight: 900;
    height: 50px;
    width: 80%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }

  .start_button:before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .start_button:active {
    color: #000;
  }

  .start_button:active:after {
    background: transparent;
  }

  .start_button:hover:before {
    opacity: 1;
  }

  .start_button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .player_list p {
    font-size: small;
  }
}
